<div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
  <div class="row mt-3">
      <div class="col-md-12 ">
        <div class="float-right">
          <button type="button" class="btn btn-secondary" (click)="show('all')">Show All</button>
          <button type="button" class="btn btn-primary ml-3" (click)="show('count')">Count Active Users</button>
        </div>
      </div>
  </div>  
  <div class="row mt-3">

        <h3 class="mb-3">Events</h3>
          <table class="table table-striped">
            <thead>
            <tr>
              <th >Type</th>
              <th *ngIf="!countView">User Id</th>
              <th *ngIf="!countView">Timestamp</th>
              <th *ngIf="countView">Hour</th>
              <th *ngIf="countView">Count</th>
            </tr>
            </thead>
              <tbody>
              <tr *ngFor="let event of events">
                <td>
                  {{ event.type }}
                </td>      
                <td *ngIf="!countView">
                  {{ event.userid }}
                </td>      
                <td *ngIf="!countView">
                  {{ event.timestamp }}
                </td>
                <td *ngIf="countView">
                  {{ event.key+ ':00' }}
                </td>  
                <td *ngIf="countView">
                  {{ event.count }}
                </td>
              </tr>
              </tbody>
          </table>
    </div>
</div>
